.image-container {
    background-image: linear-gradient(to right, #00000080, #808080, #808080), url(../../vendors/img/contact.jpg);
    background-size: contain;
    background-position: left;
}

.image-container__source {
    color: #000;
}

.image-container__source a {
    color: #000;
}

.contact__info {
    margin: 50px;
    font-size: 2.0rem;

    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}

@media screen and (max-width: 900px) {
    .contact__info {
        grid-template-columns: max-content max-content;
    }

    .contact__info p {
        padding: 0 30px;
    }
}

@media screen and (max-width: 500px) {
    .contact__info {
        grid-template-columns: 1fr;
    }

    .contact__info p:nth-child(odd) {
        margin-top: 10px;
    }
}