.my-work__image-container__image {
    width: 40%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.my-work__image-container__image--left {
    left: 0;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    background-image: url(../img/snake.png);
}

.my-work__image-container__image--middle {
    width: 60%;
    left: 20%;
    clip-path: polygon(calc(100% / 3) 0, 100% 0, calc(100% * 2/3) 100%, 0 100%);
    background-image: url(../img/tunnel.png);
}

.my-work__image-container__image--right {
    left: 60%;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
    background-image: url(../img/snow.png);
}

.my-work__image-container__dark-filter {
    width: 100%;
    height: 100%;
    background-color: #00000080;
    position: absolute;
}

.my-work__project {
    margin: 30px;
    width: calc(100% - 60px);
    height: 500px;
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-rows: 2fr 3fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-auto-flow: dense;
}

.my-work__project:nth-child(odd) .my-work__project__screenshot {
    grid-column: 2 / 3;
}

.my-work__project--snake {
    background-image: linear-gradient(to left, #000, #00000080, #000), url(../img/snake_screenshot.png);
    background-position: top;
}

.my-work__project--tunnel {
    background-image: linear-gradient(to left, #000, #00000080, #000), url(../img/tunnel_screenshot.png);
    background-position: center;
}

.my-work__project--snow {
    background-image: linear-gradient(to left, #000, #00000080, #000), url(../img/snow_screenshot.png);
    background-position: center;
}

.my-work__project__screenshot {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 10px 5px #000;

    grid-row: span 5;
}

.my-work__project__title {
    font-size: 3.2rem;

    align-self: flex-end;
}

.my-work__project__description {
    font-size: 1.6rem;
    padding: 0 30px;
}

.my-work__project__download {
    width: 150px;

    align-self: flex-end;
}

@media screen and (max-width: 800px) {
    .my-work__project {
        height: fit-content;
        grid-template-rows: min-content min-content min-content 50px 30px;
        grid-template-columns: 1fr;
    }

    .my-work__project:nth-child(odd) .my-work__project__screenshot {
        grid-column: auto;
    }

    .my-work__project img, .my-work__project h3, .my-work__project p {
        margin: 20px 0;
    }

    .my-work__project__screenshot {
        max-width: 90%;
        grid-row: span 1;
    }
}